import(stats, except=c(filter,lag))
import(dplyr, except = c(intersect, setdiff, setequal, union))
S3method(plot,expertsurv)
S3method(print,expertsurv)
S3method(summary,expertsurv)
export(augment)
export(cred_int)
export(dgompertz)
export(dllogis)
export(elicit_surv)
export(fit.models.expert)
export(fmixmsm)
export(hlnorm)
export(make.surv)
export(model.fit.plot)
export(msfit.flexsurvreg)
export(pars.fmsm)
export(plot_expert_opinion)
export(ppath_fmixmsm)
export(psa.plot)
import(dplyr)
import(flexsurv)
import(ggplot2)
import(graphics)
import(rlang)
import(shiny)
import(stats)
import(survival)
import(tibble)
import(tidyselect)
importFrom(Matrix,nearPD)
importFrom(Rcpp,sourceCpp)
importFrom(Rdpack,reprompt)
importFrom(dplyr,bind_cols)
importFrom(dplyr,bind_rows)
importFrom(dplyr,group_by)
importFrom(dplyr,inner_join)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,n)
importFrom(dplyr,pull)
importFrom(dplyr,select)
importFrom(dplyr,slice)
importFrom(dplyr,summarise)
importFrom(dplyr,ungroup)
importFrom(generics,augment)
importFrom(generics,tidy)
importFrom(loo,loo)
importFrom(magrittr,"%>%")
importFrom(numDeriv,grad)
importFrom(numDeriv,hessian)
importFrom(purrr,map2_dbl)
importFrom(rlang,":=")
importFrom(scales,hue_pal)
importFrom(statmod,gauss.quad)
importFrom(stats,predict)
importFrom(stats,residuals)
importFrom(stringr,str_replace_all)
importFrom(tibble,as_tibble)
importFrom(tibble,tibble)
importFrom(tidyr,pivot_longer)
importFrom(tidyr,unnest)
importFrom(tidyselect,matches)
importFrom(utils,getFromNamespace)
useDynLib(expertsurv, .registration = TRUE)
